.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.txt {
  color: rgb(94, 209, 255);
  text-shadow:
      0 0 7px rgb(0, 132, 255),
      0 0 10px rgb(0, 225, 255),
      0 0 21px rgb(0, 38, 252);
  font-family: 'Noto Sans Symbols', sans-serif;
}

.txt-2, .inputz::placeholder {
  color: rgb(94, 209, 255);
}

.glow-shadow {
  box-shadow: 
  0 0 7px rgb(0, 132, 255),
  0 0 10px rgb(0, 225, 255),
  0 0 21px rgb(0, 38, 252);
  color: rgb(0, 225, 255);
}

.border, .border-btn {
  border: 1px solid rgb(0, 225, 255)
}

.border-btn:hover {
  border: 1px solid white;
  color: white;
  text-shadow:
      0 0 7px white,
      0 0 10px rgb(0, 225, 255),
      0 0 21px rgb(0, 38, 252);
}

.toggler {
  width: 15px;
  height: 15px;
}